@charset "UTF-8";

/*
em HTML é id = em CSS #
em HTML class = em CSS é .
*/

body{
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 0, 0);
}

#principal{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


h2{
    color: rgb(0, 0, 0);
}

.basico{
color: rgb(21, 255, 0);
font-weight:bold;
}
.intermediario{
color: yellow;
font-weight: bold;
}
.avançado{
color: red;font-weight: bold;
}
