@charset "UTF-8";



@font-face {
    font-family:'droid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'bebas';
    src: url('fontes/bebas.otf') format('opentype');
    font-weight: normal;
}



:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5 :#063d1e; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'bebas', cursive;
    --fonte-android: 'droid', cursive;
}

*{
     margin: 0px;
     padding: 0px;
}

body{
background-color: #c6ffdf;

}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.05em;
    line-height: 1em;
}


header{
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    background-color: var(--cor4);
    min-width: 150px;
    text-align: center;
    padding-top: 35px;
}


header > h1{
    color:#ffffff ;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 23px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white; 
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.6s;
}

nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 4px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-radius: 0px 0px 10px 10px;
}

h2{
     color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right #40b373, transparent);
}


main h1{
color:#1a5c37 ;
font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right #40b373, transparent);
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}




main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 90%;
    height: 90%;


}


footer{
        background-color: #063d1e;
        color: white;
}



